<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianya.demos.mapper.NurseItemMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO nurse_item(item_name, price, content, status, is_deleted)
        VALUES(#{itemName}, #{price}, #{content}, #{status}, 0)
    </insert>

    <update id="updateById">
        UPDATE nurse_item
        <set>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="price != null">price = #{price},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="deleteById">
        UPDATE nurse_item SET is_deleted = 1 WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.tianya.demos.pojo.entity.NurseItem">
        SELECT * FROM nurse_item WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectAll" resultType="com.tianya.demos.pojo.entity.NurseItem">
        SELECT * FROM nurse_item WHERE is_deleted = 0 ORDER BY create_time DESC
    </select>

</mapper>
